@charset "utf-8";

/* 
body
#fff -> #111

content
#000 -> #f
#fff -> #000
#555 -> #d9d9d9
#767676

border
#ccc -> #3a3b3d

#7a7a7a
#a8a8a8
#969696
#53575c
*/
/* #fff -> #000 */
/* #000 -> #fff */
html[data-dark="true"] body {
  background-color: #111;
  color: #fff;
}

/* header */
html[data-dark="true"] .header.on {
  background-color: #111;
  border-color: #3a3b3d;
}

html[data-dark="true"] main,
html[data-dark="true"] .worklist,
html[data-dark="true"] .contact,
html[data-dark="true"] footer {
  background-color: #111;
}

html[data-dark="true"] .info_summary {
  color: #fff;
}

html[data-dark="true"] .info_review .block mark {
  background-color: rgba(18, 194, 233, 0.5);
  color: #fff;
}

/* #555 -> #d9d9d9 */
html[data-dark="true"] .overview_txt,
html[data-dark="true"] .overview_project li p,
html[data-dark="true"] .info_list,
html[data-dark="true"] .info_review li {
  color: #a8a8a8;
}
html[data-dark="true"] .info_list li::before {
  background-color: #a8a8a8;
}

html[data-dark="true"] .overview_site,
html[data-dark="true"] .overview_github {
  background-color: #12c2e9;
  border-color: #12c2e9;
}

html[data-dark="true"] .site-img,
html[data-dark="true"] .worklist_back-page {
  background-color: #53575c;
}

/* border-color */
/* #ccc -> #3a3b3d */
html[data-dark="true"] .overview_project li::after {
  background-color: #3a3b3d;
}

html[data-dark="true"] .info_item,
html[data-dark="true"] .contact_container,
html[data-dark="true"] .contact_address,
html[data-dark="true"] .contact_address:first-child {
  border-color: #3a3b3d;
}

html[data-dark="true"] .contact_txt strong {
  color: #fff;
}

html[data-dark="true"] .contact_tit::after {
  background-position: -16px 0;
}
