@charset "utf-8";

@media (hover: hover) {
  .btn_site:hover,
  .btn_github:hover {
    background: transparent url(../images/r_arrow.svg) no-repeat
      calc(100% - 2rem) 50%;
    color: #000;
  }

  .worklist_prev:hover a::after,
  .worklist_next:hover a::after {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .worklist_prev:hover .worklist_txt {
    transform: translateY(-20px);
  }

  .worklist_next:hover .worklist_txt {
    transform: translateY(-20px);
  }

  .worklist_prev:hover .worklist_tit::after,
  .worklist_next:hover .worklist_tit::after {
    opacity: 1;
    visibility: visible;
  }

  .worklist_back-page:hover,
  html[data-dark="true"] .worklist_back-page:hover {
    background-color: #12c2e9;
  }

  .worklist_back-page:hover a {
    padding-bottom: 10px;
    color: #fff;
  }

  .contact_address:hover .contact_tit_front,
  .contact_address:hover .contact_tit_back {
    transform: translateY(-100%);
  }

  .contact_address:hover::after {
    background-color: #f2f5f7;
  }

  .contact_address:hover .contact_tit::after {
    transform: translateX(10px);
  }

  html[data-dark="true"] .btn_site:hover,
  html[data-dark="true"] .btn_github:hover {
    background: transparent url(../images/r_arrow_w.svg) no-repeat
      calc(100% - 2rem) 50%;
    color: #fff;
  }
}
