@charset "utf-8";

@media (hover: hover) {
  .info_item:hover .info_tit::before {
    opacity: 1;
    /* transform: scale(1.1); */
  }

  .info_item:hover .info_tit::after {
    transform: translateX(10px);
  }

  .info_item:hover .info_tit_front,
  .info_item:hover .info_tit_back {
    transform: translateY(-100%);
  }

  .work_txt .txt_etc a:hover,
  html[data-dark=true] .work_txt .txt_etc a:hover {
    color: #12c2e9;
  }

  .work_prev:hover,
  .work_next:hover {
    opacity: 1;
  }
}
