@charset "utf-8";
@media (hover: hover) {
  .info_item:hover .info_tit::before{
    opacity: 1;
  }

  .info_item:hover .info_tit::after,
  .contact_address:hover .contact_tit::after {
    transform: translateX(10px);
  }

  .info_item:hover .info_tit_front,
  .info_item:hover .info_tit_back,
  .contact_address:hover .contact_tit_front,
  .contact_address:hover .contact_tit_back {
    transform: translateY(-100%);
  }

  .contact_address:hover {
    background-color: #f2f5f7;
  }

  .work_prev-hover:hover,
  .work_next-hover:hover {
    opacity: 1;
  }


  /* darkmode */
  html[data-dark=true] .dark_btn:hover {
    background-color: #53575c;
  }

  html[data-dark=true] .dark_btn:hover em {
    background-position: -26px -26px;
  }

  html[data-dark=true] .top_btn:hover{
    background-color: #12C2E9;
  }

  html[data-dark=true] .contact_address:hover {
    background-color: #3a3b3d;
  }
}
