@charset "utf-8";

/****** skip navigation ******/
.skip_nav a {
  position: absolute;
  top: -60px;
  left: 0;
  display: block;
  width: 200px;
  height: 60px;
  background-color: #000;
  text-align: center;
  line-height: 60px;
  font-size: 1.6rem;
  color: #fff;
  z-index: 99999;
}

.skip_nav a:focus,
.skip_nav a:active {
  top: 0;
}

/****** main ******/

/****** section1 info ******/
.info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 500px;
  border-bottom: 1px solid #ccc;
}

/* info_txt */
.info_txt {
  margin: 23.2227vh 0 2rem;
  padding: 0 2.4rem;
}

.info_txt h2 {
  font-size: 5rem;
  font-family: "Bebas Neue", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  line-height: 5.6rem;
}

.info_txt h2 .tit {
  background: linear-gradient(
    90deg,
    #12c2e9 0,
    #c471ed 25%,
    #f64f59 50%,
    #c471ed 75%,
    #12c2e9 100%
  );
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: move-gradient 15s linear infinite;
}
@keyframes move-gradient {
  100% {
    background-position: 400% center;
  }
}

.info_txt h2 .block {
  display: block;
}

.info_txt p {
  font-size: 1.4rem;
  font-weight: 700;
}

/* info_grid */
.info_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(min-content, 19.5rem);
  overflow: hidden;
}

.info_item {
  position: relative;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.info_item:nth-child(odd) {
  border-left: none;
}

.info_item a {
  overflow: hidden;
  position: relative;
  padding: 2.4rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.info_item h3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.8rem;
  transition: transform 0.5s;
}

.info_item .info_tit {
  overflow: hidden;
  height: 3.8rem;
}

.info_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat 50% / cover;
  z-index: -1;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 0.7s;
}

.info_bg.bg1 {
  background-image: url(../images/img1.png);
}

.info_bg.bg2 {
  background-image: url(../images/img2.png);
}

.info_bg.bg3 {
  background-image: url(../images/img3.png);
}

.info_bg.bg4 {
  background-image: url(../images/img4.png);
}

.info_tit::after {
  content: "";
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../common/images/small_arrow.svg) no-repeat;
  background-position: 0 0;
  transition: transform 0.3s;
}

/****** work ******/
.work {
  margin-top: 15rem;
}
.work_wrap {
  position: relative;
  margin: 0 2.4rem;
}

/****** slide main contents ******/
.work_slide_container {
  overflow: hidden;
  --swiper-pagination-bullet-width: 40px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-color: #12c2e9;
  --swiper-theme-color: #12c2e9;
  --swiper-pagination-bullet-inactive-color: #000;
}

.work_slide li {
  position: relative;
}

/* 화살표 버튼 */
.work_arrow {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.work_prev,
.work_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 100px;
  background: no-repeat 50% / cover;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.work_prev {
  left: 10px;
  background-image: url(../images/prev_arrow.svg);
}

.work_next {
  right: 10px;
  background-image: url(../images/next_arrow.svg);
}

.work_img {
  height: 75vh;
  min-height: 500px;
}

.work_img a {
  display: block;
  height: 100%;
}

.work_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work_txt {
  position: absolute;
  left: 2rem;
  bottom: 4rem;
}

.work_txt h3 {
  font-size: 8rem;
  font-family: "Bebas Neue", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  line-height: 7rem;
  color: #fff;
}

.work_txt h3 .block {
  display: block;
}

.work_txt strong,
.work_txt > p {
  display: none;
}

.work_txt .txt_etc {
  display: flex;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-family: "Bebas Neue", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  text-transform: uppercase;
}

.work_txt .txt_etc > * {
  margin-right: 2rem;
  color: #fff;
}

.work_txt .txt_etc p {
  color: #969696;
}

/* slide_index */
.work_index {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 14rem;
  line-height: 14rem;
  height: 14rem;
  overflow: hidden;
  color: #fff;
}

/* slide_pagination */
.work_slide_container .swiper-pagination {
  bottom: 1rem;
}

.work_slide_container .swiper-pagination-bullet {
  border-radius: 0;
}
