@charset "utf-8";
.info_txt {
  width: 90%;
  margin: 23.2227vh auto 2rem;
  padding: 0;
}

.info_txt h2 {
  font-size: 7rem;
  line-height: 7.6rem;
}

.info_item .info_tit {
  height: 4.4rem;
}

.info_item h3 {
  font-size: 3.4rem;
  line-height: 4.4rem;
}

.work_wrap {
  margin: 0 auto;
}

.work_arrow {
  display: block;
}

.work_txt {
  position: static;
  margin-left: 2rem;
}

.work_txt strong {
  display: block;
  font-size: 1.6rem;
}

.work_txt .txt_etc {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.work_txt h3,
.work_txt .txt_etc > * {
  color: #000;
}

.work_txt .txt_etc p {
  color: #767676;
}

.work_index {
  top: 0;
  left: 5.859vw;
  color: #000;
}

.work_slide_container {
  width: 80%;
  padding: 6rem 0;
}

.work_slide li {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.work_img {
  width: 400px;
  height: 400px;
  min-height: auto;
}

.swiper-button-disabled {
display: none;
}
