@charset "utf-8";
.info_txt {
  width: 90%;
  margin: 23.2227vh auto 2rem;
  padding: 0;
}

.info_txt h2 {
  font-size: 7rem;
  line-height: 7.6rem;
}

.info_item .info_tit {
  height: 4.4rem;
}

.info_item h3 {
  font-size: 3.4rem;
  line-height: 4.4rem;
}

.contact_container {
  margin-top: 8rem;
  flex-direction: row;
}

.contact_address {
  width: 50%;
}

.contact_address:first-child {
  border-right: 1px solid #ccc;
}

.work_wrap {
  margin: 0 auto;
}

.work_arrow {
  display: block;
}

.work_index {
  top: 0;
  left: 5.859vw;
}

.work_slide_container {
  width: 80%;
  padding: 6rem 0;
}

.work_slide li {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.work_img {
  width: 400px;
  height: 400px;
  min-height: auto;
}

.work_txt {
  position: static;
  margin-left: 2rem;
}

.work_txt strong {
  display: block;
  font-size: 1.6rem;
}

.work_txt .txt_etc {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.swiper-button-disabled {
display: none;
}

/****** contact ******/
.contact_container {
  margin-top: 8rem;
  flex-direction: row;
}

.contact_address {
  width: 50%;
}

.contact_address:first-child {
  border-right: 1px solid #ccc;
}

.contact_txt {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1800px;
}

.contact_txt h2 {
  font-size: 11rem;
  line-height: 10rem;
}

.contact_tit {
  font-size: 3.4rem;
  line-height: 4.4rem;
  height: 4.4rem;
}

.contact_tit::before {
  left: 6rem;
  bottom: 10.4rem;
}

.contact_tit::after {
  right: 6rem;
  bottom: 5rem;
}

.contact_address {
  height: 39.063vw;
  max-height: 400px;
}

.contact_address a {
  padding: 5rem 6rem;
}

.contact_txt p:nth-of-type(2),
.contact_txt p:last-child {
  display: inline-block;
}