@charset "utf-8";

@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../font/PretendardVariable.woff2') format('woff2-variations'),
  url('../font/PretendardVariable.woff') format('woff-variations'),;
}

@font-face {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-style: normal;
	font-display: swap;
  src: local('Bebas Neue'), url(../font/BebasNeue-Regular.woff2) format('woff2'),
  url(../font/BebasNeue-Regular.woff) format('woff');
}

/* 메이플스토리 서체 */
@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url(../font/AppleSDGothicNeoR.woff2) format("woff2"),
    url(../font/AppleSDGothicNeoR.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
