@charset "utf-8";

/* 메이플스토리 서체 */
@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* main image */
.visual {
  background-image: url(../images/bg1.png);
}

/* 목록 이동 */
.worklist_prev {
  background-image: url(../../common/images/coca-cola.png);
}

.worklist_next {
  background-image: url(../../common/images/lotteCinema.png);
}

/* 폰트 */
.info_font.nexon {
  font-family: "MaplestoryOTFBold";
}

.info_font.pretendard {
  margin-top: 6rem;
  font-family: "Pretendard";
}
