@charset "utf-8";

@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* main image */
.visual {
  background-image: url(../images/bg1.png);
}

/* 목록 이동 */
.worklist_prev {
  background-image: url(../../common/images/coca-cola.png);
}

.worklist_next {
  background-image: url(../../common/images/lotteCinema.png);
}

/* 폰트 */
.info_font.nexon {
  font-family: "MaplestoryOTFBold";
}

.info_font.pretendard {
  font-family: "Pretendard";
}

/****** JS animation ******/
.site-img,
.info_item {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s, opacity 1s;;
}

.site-img.on,
.info_item.on {
  opacity: 1;
  transform: translateY(0);
}
