@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

body {
  line-height: 1;
}

/****** about ******/
.about {
  margin-top: 15rem;
  padding: 0 2.4rem;
  overflow: hidden;
}

.about__title h2 {
  font-size: 11rem;
  font-family: "Bebas Neue", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

.about__title p {
  margin-top: -2rem;
  font-size: 4rem;
  font-weight: 200;
  color: #ccc;
}

.about__info {
  margin-top: 4rem;
}

.about__txt span {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #555;
}

.about__txt strong {
  color: #000;
}

.about__img {
  margin: 4rem 0 15rem;
}

.about__img img {
  filter: saturate(0);
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.about__box1,
.about__box2 {
  overflow: hidden;
}

.about__box2 {
  display: none;
}

/****** skill ******/
.skill {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.skill__wrap {
  padding: 15rem 2.4rem 15rem;
}

.skill__head {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  font-size: 6rem;
  font-family: "Bebas Neue", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  z-index: 99;
}

.skill__grid {
  margin-top: 6rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-auto-rows: 400px;
}

.skill__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  border: 1px solid #ccc;
  z-index: 9;
}

.skill__index {
  margin-bottom: auto;
  font-size: 6rem;
  font-weight: 100;
  color: #ccc;
}

.skill__tit {
  margin-bottom: 1rem;
  font-size: 3.4rem;
  font-family: "Bebas Neue", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

.skill__tit--margin {
  margin-top: 3rem;
}

.skill__list {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #555;
}

/****** JS animation ******/
.about__txt,
.about__img,
.skill,
.skill__item {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s, opacity 1s, visibility 1s ;
}

.about__txt.show,
.about__img.show,
.skill.show,
.skill__item.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
/*
.skill__item {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1s, visibility 1s ;
}

.skill__item.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
}
*/
@media screen and (min-width: 768px) {
  /****** about ******/
  .about {
    margin-top: 20rem;
    padding: 0;
  }

  .about__title {
    margin: 0 auto;
    width: 90%;
    max-width: 1800px;
  }

  .about__info {
    margin: 10rem auto 0;
    width: 90%;
    max-width: 1800px;
  }

  .about__txt .block {
    display: block;
  }

  /****** .skill ******/
  .skill__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 1800px;
  }

  .skill__head {
    position: sticky;
    align-items: flex-start;
    top: 15rem;
    margin-top: 15rem;
    width: 40%;
  }

  .skill__grid {
    margin: 0;
    padding: 15rem 5rem;
    width: 55%;
    border-left: 1px solid #ccc;
  }
}

@media screen and (min-width: 1024px) {
  .about__title h2 {
    font-size: 20rem;
  }

  .about__title p {
    font-size: 8rem;
    margin-top: -4rem;
    color: #eee;
  }

  .about__txt {
    margin-left: 30%;
  }

  .about__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 190px);
    gap: 1rem;
    margin-top: 10rem;
    margin-left: 30%;
  }

  .about__box1 {
    grid-column: span 2;
    grid-row: span 3;
  }

  .about__box2 {
    display: block;
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }

  .skill__head {
    padding: 0;
    font-size: 8rem;
  }

  .skill__grid {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(5, 270px); */
    grid-auto-rows: 270px;
    padding-right: 0;
    width: 60%;
  }

  .skill__item {
    padding: 4rem;
  }

  .skill__item:nth-child(1),
  .skill__item:nth-child(3),
  .skill__item:nth-child(4),
  .skill__item:nth-child(5),
  .skill__item:nth-child(6) {
    grid-row: span 2;
  }

  .skill__item:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
  }

  .skill__index {
    font-size: 10rem;
  }
}

@media screen and (min-width: 1400px) {
  .about {
    margin-top: 30rem;
  }

  .skill__grid {
    padding-left: 12rem;
  }
}

@media (hover: hover) {
  .about__box1:hover img,
  .about__box2:hover img {
    filter: saturate(100%);
    transform: scale(1.1);
  }
}
