@charset "utf-8";

/* main image */
.visual {
  background-image: url(../images/bg1.png);
}

/* 목록 이동 */
.worklist_prev {
  background-image: url(../../common/images/lotteCinema.png);
}

.worklist_next {
  background-image: url(../../common/images/shooting_game.png);
}

/****** layout ******/
.site-img_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.site-img_wrap {
  margin-bottom: 6rem;
}

.site-img_wrap:last-child {
  margin-bottom: 0;
}

/****** info ******/

/* font */
.info_font {
  font-family: "AppleSDGothicNeo", sans-serif;
}

.info_uiux {
  display: flex;
  flex-direction: column;
}

.info_design {
  margin-top: 4rem;
  padding: 4rem;
  background-color: #f2f5f7;
}

.info_page {
  width: 100%;
  height: calc(100vh - 7rem);
  background: url(../images/page_m.png) no-repeat 50% / contain;
}

.info_page li:first-child {
  margin-right: 6rem;
}

/* dark mode */
html[data-dark="true"] .info_design {
  background-color: #53575c;
}

@media only screen and (min-width: 768px) {
  .site-img_container {
    flex-direction: row;
    justify-content: space-between;
    /* height: 70vh; */
  }
  .site-img_wrap {
    margin: 0 1rem 0;
    height: auto;
  }

  .info_design {
    padding: 6rem;
  }

  .info_page {
    height: 70vh;
    background-image: url(../images/page1.png);
  }
}
